body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-custom:hover {
  background-color: #e03e00; /* 深一点的橘红色用于鼠标悬停效果 */
  color: white; /* 设置文字颜色为白色 */
}


.btn-custom {
  background-color: #ff4500;
  color: white;
  width: 100%;
  min-height: 30px;
  text-align: center;
  font-size: 13px;
}

@media (max-width: 768px) {
  .home-padding {
    padding-left: 40px;
    padding-right: 40px;
  }

  .btn-custom {
    margin-bottom: 15px; /* 增加在小屏幕上的间距 */
  }

  .d-flex {
    flex-direction: column; /* 确保在小屏设备上按钮纵向排列 */
    align-items: center; /* 确保容器内元素在纵向上居中 */
    justify-content: center; /* 确保容器内元素在横向上居中 */
  }
}
